@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&family=Titan+One&display=swap");

@import 'tailwindcss';

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in-up {
    animation: fadeInUp 0.7s ease forwards;
  }

@theme { 

    --color-morado: #b44a86;
    --color-morado-mid: #ca7da7;
    --color-rosa: #e968b0;
    --font-titan: "TitanOne", sans-serif;
    --font-shadows: "Shadows", cursive;
    --font-satisfy: "Satisfy", cursive;
}

